<div class="index" style="zoom: 1;"><div id="StayFocusd-infobar" style="display:none;">
    <span id="StayFocusd-infobar-msg"></span>
    <span id="StayFocusd-infobar-links">
        <a id="StayFocusd-infobar-never-show">hide forever</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a id="StayFocusd-infobar-hide">hide once</a>
    </span>
</div>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top landing-nav-custom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/" style="font-size: x-large;">ReadMe</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul  class="nav navbar-nav">
                    <li>
                        <a " href="#" ng-click="landing.login()">Sign In</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>

<div class='background-image'>
</div>


<hr>

<div layout="row" layout-wrap class="marginOnBottom">
    <div flex="25"></div>
    <div flex='40' style="padding-right: 5%;">
    <h3 class="section-heading">Optimize Yourself</h3>
        <p class="lead section-lead">Track activities and your existential state to see relationships between the two.</p>
        <p class="section-paragraph">Wonder why you're getting those headaches? What is it really that gives you energy? What takes it away? Sometimes, the answers to these questions are obvious - other times, they're elusive and obscure. </p>
        <p> The advent of 'big data' means that there are a lot of tools available for understanding patterns in data - any data! ReadMe uses advanced correlation and covariance formulas, as well as support vector machines and neural networks, to give you the most accurate insight into the action/reaction mechanics of your mind and body.</p>
    </div>
    <div flex="30">
        <div class='black-box'>
            <h4>The Big Data of You</h4>
            <br>
            <p>ReadMe uses advanced machine learning and statistical analysis to uncover the often hidden patterns in your life.
            <br>
            <br>
                After only a few days of information, ReadMe helps you identify correlations between the things you do and the way you feel. Sign up below to get started.
            </p>
        </div>
        <div>
            <md-button class="md-raised sign-up-button" href="#" ng-click="landing.auth.signin()"><span style='font-weight: 600;'>Sign Up Now!</span></md-button>
        </div>
    </div>
</div>

