<div id="sideNavContainer" ng-cloak class='navBar'>
  <div layout='vertical'>
    <md-sidenav md-component-id="left" layout-fill hide-print class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-sm')" md-is-open='isSideNavOpen' tabindex="-1">
      <div>
        <a ng-href="/" class='readme-logo' href='/'>
          <img style='max-width: 150px;' src="images/newLogo6.png">
          <h1 style='margin-top: 10px;' class="readme-h1">ReadMe</h1>
        </a>
      </div>
      <div>
      <div class='side-button-container'>
        <md-content md-ink-ripple style='background-color: transparent;'>
          <div  class='side-menu-options' ui-sref='home.entries' ui-sref-active='active'>
          <span class='sidenav-icons'><img src="../../images/ic_view_quilt_white_24dp_1x.png"></span>
          Daily Entries</div>
        </md-content>
        <md-content md-ink-ripple style='background-color: transparent;'>
          <div  class='side-menu-options' ui-sref='home.journal' ui-sref-active='active'>
          <span class='sidenav-icons'><img src="../../images/ic_event_note_white_24dp_1x.png"></span>
          Daily Journal</div>
        </md-content>
        <md-content md-ink-ripple style='background-color: transparent;'>
          <div  class='side-menu-options' id='last-menu-item' ui-sref='home.insights' ui-sref-active='active'>
          <span class='sidenav-icons'><img src="../../images/ic_all_out_white_24dp_1x.png"></span>
          Your Insights</div>
       </md-content>
      </div>            
      </div>
    </md-sidenav>
  </div>

  <md-content tabindex="-1" role='main' class='layout-column flex'>
    <md-toolbar class='site-content-toolbar _md' layout='row'>
      <md-button class='menuButton' aria-label='Toggle Side Bar' ng-click="home.openLeftMenu()">
        <img style='max-width: 20px;' src="../images/ic_menu_black_24dp_1x.png">
      </md-button>
      <div class="md-toolbar-tools">
        <span>{{home.currentState}}</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button class='top-nav' ui-sref='home.about' ui-sref-active='active'>
          About
        </md-button>
        <md-button class='top-nav' ng-click="home.logout()">
          Log Out
        </md-button>
      </div>
    </md-toolbar>
    <div layout='row' layout-xs='column'>
      <div ng-style="{visibility: home.displayDatePicker() ? 'visible' : 'hidden'}" class='date-picker' flex='30'>Enter data for:
        <form name='dateForm'>
          <md-datepicker name='dateField' md-max-date='home.maxDate' required ng-model="userDate" ng-change='home.dateSetter(userDate)' md-placeholder="Enter date"></md-datepicker>
          <div class="validation-messages" ng-messages="dateForm.dateField.$error">
             <div ng-message="valid">The entered value is not a date!</div>
             <div ng-message="required">A date is required!</div>
          </div>
        </form>
      </div>

    </div>

      <div ui-view class='template-view'>
        <h2>Welcome to ReadMe {{ home.userName}}</h2>
        <br>
        <p>Enter a date to get started!</p>
      </div>
  </md-content>

</div>
<div class='footer-bar'>
  <div layout='row' layout-align='center-center'>
    <div style="padding: 10px;">© 2016</div><a ui-sref='home.about' ui-sref-active='active'>Team SantaMonicaBoulevard</a>
  </div>
</div>
