<div layout='column' layout-xs='column' class='marginOnBottom'>
  <div layout='row'>
    <div flex='60'>
      <h2>Discover Insights</h2>
      <br>
      <p>Select a metric to find correlations between it and your activities.<br> 
          You can also choose to "timeshift" the metric by a certain amount of days to see if there's a delayed connection.<br> 
      </p>
      <br>
      <div style="margin-bottom: 2%;">
        <md-switch class='insights-switch' ng-model="insights.switch" aria-label="Timeshift"></md-switch>
        <span style='color: #ddd;'ng-hide='insights.switch'>Timeshift off</span>
        <span ng-hide='!insights.switch'>Timeshift by:
          <md-input-container style='margin: 0px 0px; padding: 0px;'>
            <input type="number" ng-model="insights.timeShiftAmount" placeholder="days" style="width: 25%; text-align:center;">
          </md-input-container>
        </span>
      </div>
      <div>
        <form ng-submit="insights.submitSelection(insights.searchText)" name="insights.correlForm">
          <md-autocomplete
                    md-selected-item="insights.selectedItem"
                    md-search-text="insights.searchText"
                    md-items="item in insights.userMetrics | filter: insights.searchText"
                    md-item-text="item"
                    md-min-length="1"
                    placeholder="Enter a metric...">
              <md-item-template>
                <span md-highlight-text="insights.searchText" md-highlight-flags="^i">{{item}}</span>
              </md-item-template>
          </md-autocomplete>

        </form> 
      </div>
      <div flex id='d3Div' class='svg-container' ng-show='insights.showSVG'> 
      
        <bubble-chart style='background-color: transparent;'></bubble-chart>
      </div>
      <div class='repeated-container' ng-show='insights.showSVG'>
        <h3 style="font-weight: 200;">All correlations with <strong style="font-weight">{{insights.metricDisplay}}</strong>:</h3>
        <div class='all-correlations' ng-repeat="item in insights.displayData">
            <span  ng-repeat="(key, value) in item">{{key}}: {{value}}%</span>
        </div>
      </div>
    </div>
  </div>
</div>
