<div layout="column" layout-align="center center" ng-cloak>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- Activities-->
    <h4>Enter an activity or metric to find correlations:</h4>
    <form ng-submit="insights.submitSelection(insights.searchText)" name="insights.correlForm">
      <md-autocomplete
                md-selected-item="insights.selectedItem"
                md-search-text="insights.searchText"
                md-items="item in insights.userMetrics | filter: insights.searchText"
                md-item-text="item"
                md-min-length="1"
                placeholder="Search...">
          <md-item-template>
            <span md-highlight-text="insights.searchText" md-highlight-flags="^i">{{item}}</span>
          </md-item-template>
      </md-autocomplete>
    </form>

  </md-content>
          <bubble-chart data="[40,100,80,15,25,60,10]" ></bubble-chart>

        <div ng-repeat="item in insights.currentCorrelationData" class='col-sm-12'>
          <ul>
            <li ng-repeat="(key, value) in item">{{key}}: {{value}}</li>
          </ul>
        </div>

        </div>
    </div>
    </div>
   </div>
</div>

