<div class='container'>
  Welcome to your entries 
  
  <p>Pick a date to add activities to:</p>

  <md-content>
    <md-datepicker ng-model="entries.userDate" ng-change ='entries.changeAutoComplete()' md-placeholder="Enter date"></md-datepicker>
    
    <div ng-show='entries.userDate'>Choose the activities you did on {{entries.userDate | date: "EEEE, MMMM d"}}

<!-- Activities-->
    <form ng-submit="entries.addItem(entries.searchTextAct, 'activity')" name="entries.activityForm">
      <md-autocomplete
                ng-show='entries.userDate'
                md-selected-item="entries.selectedItem"
                md-search-text="entries.searchTextAct" 
                ng-disabled="entries.autoCompleteDisabled"
                md-items="item in entries.userActivitiesStub | filter: entries.searchTextAct"
                md-item-text="item"
                md-min-length="1"
                placeholder="Enter an activity">
          <md-item-template>
            <span md-highlight-text="entries.searchTextAct" md-highlight-flags="^i">{{item}}</span>
          </md-item-template>
      </md-autocomplete>
    </form>
  </md-content>

  <div>
    <h4>Today's Activities</h4>
    <ul>
      <li ng-repeat="item in entries.daysActivities track by $index">
        {{item}}
        <span ng-click="entries.removeItem($index, 'activity')">x</span>
      </li>
    </ul>

    <md-button class="md-raised" ng-click="entries.postData('activity')"> Submit Activities </md-button> 
  </div>

  <!-- Metrics-->
      <form ng-submit="entries.addItem(entries.searchTextMet, 'metrics')" name="entries.metricForm">
      <md-autocomplete
                ng-show='entries.userDate'
                md-selected-item="entries.selectedItem"
                md-search-text="entries.searchTextMet" 
                ng-disabled="entries.autoCompleteDisabled"
                md-items="metric in entries.userMetricsStub | filter: entries.searchTextMet"
                md-item-text="metric"
                md-min-length="1"
                placeholder="Enter a metric">
          <md-item-template>
            <span md-highlight-text="entries.searchTextMet" md-highlight-flags="^i">{{metric}}</span>
          </md-item-template>
      </md-autocomplete>
    </form>
  </md-content>

  <div>
    <h4>Today's Metrics</h4>
    <ul>
      <li ng-repeat="item in entries.daysMetrics track by $index">
        {{item}}
        <span ng-click="entries.removeItem($index, 'metric')">x</span>
      </li>
    </ul>

    <md-button class="md-raised" ng-click="entries.postData('metric')"> Submit Activities </md-button> 
  </div>

</div>




